<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/custom.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <!--Google SIGN IN -->
        <script>
            function signInCallback(authResult){
                if (authResult['code']){
                    console.log(authResult)
                    $('#signInButton').attr('style','display:none', 'width:300');
                    $.ajax({
                        type:'POST',
                        url:'/gconnect?state={{STATE}}',
                        processData: false,
                        contentType: 'application/octet-stream; charset=utf-8',
                        data: authResult['code'],
                        success: function(result) {
                            if (result) {
                                console.log(result)
                                $('#result').html('Login Successful! </br>' + result + '</br> Redirecting...')
                                setTimeout(function() {
                                window.location.href = "/restos/";
                                }, 4000);
                            } else if (authResult['error']){
                                console.log('There was an error: ' + authResult['error']);
                            } else {
                                $('#result').html('Failed to make a server side call.');
                            }
                        }
                    });
                }
            }
        </script>
        <!--FACEBOOK SIGN IN -->
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
            FB.init({
            appId      : '284885635330390',
            cookie     : true,  // enable cookies to allow the server to access 
                                        // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.8' // use version 2.8
            });
            };
            // Load the SDK asynchronously
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            function sendTokenToServer() {
                var access_token = FB.getAuthResponse()['accessToken'];
                console.log(access_token)
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', function(response) {
                console.log('Successful login for: ' + response.name);
                $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{STATE}}',
                processData: false,
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                // Handle or verify the server response if necessary.
                    if (result) {
                    $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                    setTimeout(function() {
                    window.location.href = "/restos/";
                    }, 4000);

                    } else {
                        $('#result').html('Failed to make a server-side call.');
                        }
                }

            });
            });
            }
        </script>   
    </head>
    <body>
        <div class="container" align="center" style="margin-top:50px;">
            <div class="col-md-12" >
                <div id="signInButton">
                    <span  class="g-signin"
                    data-scope ="openid email"
                    data-clientid="527681884397-s9feeviech0aarjdda8utc74lk37dt9g.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-width="tall"
                    data-height="tall"
                    data-aprovalprompt="force">
                    </span>
                </div>
                <div id="result"></div>
            </div>
            <div class="col-md-12" style="margin-top:40px;">
                <button style="border:none; padding:0 0 0 0;">
                    <fb:login-button scope="public_profile, email"  data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" data-border-color="#fffff" data-show-border="false" onlogin="sendTokenToServer();">
                        <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                    </fb:login-button>
                </button>
            </div> 
        </div>
    </body>    
</html>